<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" 
      type="image/png" 
      href="/nextstop-bg-01.png">
  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:600' rel='stylesheet' type='text/css'>
    <!-- LOGIN FORM -->
  <!-- <link rel="stylesheet" type="text/css" href="/vendor/loginformreset.css"> -->
  <link rel="stylesheet" type="text/css" href="/vendor/loginformstyle.css">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- NAV -->
  <link rel="stylesheet" type="text/css" href="/vendor/component.css">

  <link rel="stylesheet" href="styles.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- SKROLLR -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script> -->
  <!-- BUTTONS -->
  <link rel="stylesheet" href="/vendor/buttons.css">
  <!-- VALIDATION -->
  <script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js"></script>
  <!-- MAPS -->
  <script src="http://maps.googleapis.com/maps/api/js?v=3&amp;libraries=places"></script>
  <!-- MOUSEWHEEL -->
  <script src="/vendor/jquery.mousewheel.js"></script>
  <script src="/vendor/modernizr.js"></script>

  <!-- STELLAR -->
  <!-- <script src="https://raw.githubusercontent.com/markdalgleish/stellar.js/master/jquery.stellar.js"></script> -->
  <script>

  var width = $(window).width();
  if (width >=600){

  // if (screen.width >= 600) {
    $(function(){
      $("#page-wrap").wrapInner("<table cellspacing='30'><tr>");
      $(".post").wrap("<td></td>");
      $("body").mousewheel(function(event, delta) {
        this.scrollLeft -= (delta * 20);
        event.preventDefault();
      });   
    });
  };
  </script>
  <script src="scripts.js"></script>
  <title>NEXT STOP</title>
</head>
<body>
  <header role="banner">
    <!--NAVBAR-->
    <nav class="navbar navbar-default navbar-fixed-top main-nav" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!--  -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">         
        <a class="brand" href="/"><img src="/nextstop-bg-01.png" width="100"></a> </ul>
        <ul class="nav navbar-nav navbar-right cl-effect-14 main-nav">
          <% if (user) { %> 
          <li><a href="#" type="submit" id="submit" data-toggle="modal" data-target="#myModal">Add New</a></li>
          <li><a href="/profile"><%= user.firstname %> <%= user.lastname %></a></li>
          <li><a id="logout" href="/logout" >Logout</a></li> 
          <% } else { %>
          <img src="/nextstop-bg-01.png" id="pin" width="50">

          <li><a class="cd-signin" href="#0">Login</a></li>
          <li><a class="cd-signup" href="#0">Signup</a></li>
          <% } %>

          <!-- ADD NEW -->
          <% if (user) { %> 
<!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share your picture!</h4>
        </div>

              <div id="cd-newpost">
                <form class="cd-form" id="newpost">
                  <p class="fieldset">
                    <label for="imgurl">Image URL</label>
                    <input class="full-width has-padding" type="text" placeholder="Image URL" name="imgurl">
                  </p>

                  <p class="fieldset">
                    <label for="signin-password">Location</label>
                    <input class="full-width has-padding" type="text"  placeholder="Where in the world is it?" name="location">

                    <input type="hidden" name="author" value="<%=user.firstname%> <%=user.lastname%>" class="required">
                  </p>

                  <p class="fieldset">
                    <input class="full-width" type="submit" value="SUBMIT">
                  </p>
                </form>
              </div>
      </div>
    </div>
  </div>
  <% } %>
          <!-- NEW MODAL & FORMS -->

          <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
            <div class="cd-user-modal-container"> <!-- this is the container wrapper -->

              <div id="cd-login"> <!-- log in form -->
                <form class="cd-form" id="login">
                  <p class="fieldset">
                    <label for="signin-email">E-mail</label>
                    <input class="full-width has-padding" id="signin-email" type="email" placeholder="E-mail" name="email">
                  </p>

                  <p class="fieldset">
                    <label for="signin-password">Password</label>
                    <input class="full-width has-padding" id="signin-password" type="password"  placeholder="Password" name="password">
                  </p>

                  <p class="fieldset">
                    <input class="full-width" type="submit" value="LOGIN">
                  </p>
                </form>

              </div> <!-- cd-login -->

              <div id="cd-signup"> <!-- sign up form -->
                <form class="cd-form" id="signup">
                  <p class="fieldset">
                    <label for="signup-email">E-mail</label>
                    <input class="full-width has-padding" id="signup-email" type="email" placeholder="E-mail" name="email">
                  </p>

                  <p class="fieldset">
                    <label for="signup-firstname">Your Name</label>
                    <input class="full-width has-padding" id="signup-firstname" type="text"  placeholder="Firstname" name="firstname"><br><br>

                    <input class="full-width has-padding" id="signup-lastname" type="text"  placeholder="Lastname" name="lastname">
                  </p>

                  <p class="fieldset">
                    <label for="signup-password">Password</label>
                    <input class="full-width has-padding" id="signup-password" type="password"  placeholder="Password" name="password">


                  </p>

                  <p class="fieldset">
                    <input id="submitsignup" class="full-width has-padding" type="submit" value="CREATE ACCOUNT">
                  </p>
                </form>
              </div> <!-- cd-signup -->
            </div> <!-- cd-user-modal-container -->
          </div> <!-- cd-user-modal -->

          <!-- END OF MODALS -->
        </ul>
      </div>
    </nav>
  </header>

  <!-- DB CONTENT -->
  <div id="page-wrap container"><div class="post"><section class="postsection" data-stellar-background-ratio="0.5"> 
  <% if (user == null) { %>
<div class="splash">
<img src="/globe3-01.png" id="globei" width="200"><hr><h2>Log in and start exploring the world!</h2><hr>
</div>
<% } else { %>
<img src="/globe3-01.png" id="globei" width="200"><hr>
 Instructions: Scroll! Discover places! Click "I want to go" and save it to your bucket list!

<% } %></section></div> 
    <% for (var i=posts.length-1; i>=0; i--){ %>

    <!-- <article class="post"> -->
    <div class="post" >
      <section class="postsection" id="toppost" style="background-image: url(<%= posts[i].imgurl %>)" data-stellar-background-ratio="0.1">
        <% if (user) { %> 

        <span class="wanttogo">
          <button data-id="<%=posts[i].id %>" class="button button-large button-plain button-border" id="want">I WANT TO GO TO <%= posts[i].location %> </button><br>posted by <%= posts[i].author %><span hidden id="place"> <%= posts[i].location %></span>
          <!-- <div data-id="<%=posts[i].id %>" class="box bar" id="want">I WANT TO GO TO <%= posts[i].location %> </div> -->

          
        </span> <% } %>

      
        <!-- <button data-id="<%=posts[i].id %>" type="button" class="deletebutton">&times;</button><br> -->
      </section></div>
      <!-- </article> -->
      <% } %>
    </div>

    <!-- VALIDATE -->
    <script>
      $('form').validate();
    </script>
<script src="/vendor/loginformmain.js"></script>
<script type="text/javascript">
  (function(){
  open = true;
  window.setInterval(function(){
    open = !open 
    if(open){
      $("#globei").attr("src", "/globe4-01.png")
    }
else{
      $("#globei").attr("src", "/globe3-01.png")
}
  }, 200);
})()
</script>
<script type="text/javascript">
  function moveDiv() {
    var $span = $("#pin");
    
    $span.fadeOut(600, function() {
        var maxLeft = $(window).width() - $span.width();
        var maxTop = $(window).height() - $span.height();
        var leftPos = Math.floor(Math.random() * (maxLeft + 1))
        var topPos = Math.floor(Math.random() * (maxTop + 1))
     
        $span.css({ left: leftPos, top: topPos }).fadeIn(600);
    });
};

moveDiv();
setInterval(moveDiv, 10);
</script>
</body>


</html>
