<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- FONTS -->
<!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- BUTTONS -->
<link rel="stylesheet" href="http://unicorn-ui.com/buttons/css/buttons.css">
    <link rel="stylesheet" href="styles.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- SKROLLR -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<!-- VALIDATION -->
<script src="http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.js"></script>
<!-- APPLICATION SCRIPTS -->
<script src="scripts.js"></script>
    <title>Destination app</title>
  </head>
  <body>
<header>

  <!--NAVBAR-->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
<!--  -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">GOTO</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- <ul class="nav navbar-nav"> LEFT SIDE ITEMS </ul> -->
    <ul class="nav navbar-nav navbar-right">
    <p class="navbar-btn">
<!-- SIGNUP -->
<!-- MODAL TRIGGER -->
<li>
      <button type="submit" id="signupmodaltrigger" class="navbarbtn btn btn-warning" data-toggle="modal" data-target="#signupModal">Signup</button></li>
      
<!-- Modal -->
  <div class="modal fade" id="signupModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign up for GOTO</h4>
        </div>
        <div class="modal-body">
<!-- SIGNUP FORM -->
<form id="signup">
<div><label for="email">Your email</label><br>
<input type="email" name="email" class="required"></div>
<input type="text" name="firstname" class="required"/>
<input type="text" name="lastname" class="required"/>
<div><label for="password">Password</label><br>
<input type="password" id="signuppassword" placeholder="Your password" size="70" name="password" class="required"></div>
<hr>
<button id="submitsignup" type="submit" class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
    </div>
  </div>
<!-- LOGIN -->
  <!-- MODAL TRIGGER -->
      <li><button type="submit" id="submit" class="navbarbtn btn btn-warning" data-toggle="modal" data-target="#loginModal">Login</button></li>
<!-- Modal -->
  <div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
<!-- LOGIN FORM -->
<form id="login">
<div><label for="email">Your email</label><br>
<input type="email" name="email" class="required"></div>
<div><label for="password">Password</label><br>
<input type="password" id="password" placeholder="Your password" size="70" name="password" class="required"></div>
<hr>
<button class="btn btn-warning">Submit</button>
</form>
        </div>
      </div>
    </div>
  </div>
  <!-- END OF MODALS -->
    </p> </ul>
  </div>
</nav>
 </header>
 <!-- NEW NAVBAR! -->     <section class="color-7">
        <span class="cl-effect-21">
          <a href="#">Chatoyant</a>
          <a href="#">Ineffable</a>
          <a href="#">Efficiency</a>
          <a href="#">Mellifluous</a>
          <a href="#">Serendipity</a>
        </span>
      </section>
<!-- DB CONTENT -->
<div id="page-wrap">
<% for (var i=posts.length-1; i>=0; i--){ %>
<article class="post">
<section class="posts" id="toppost">
<h3><img src= "<%= posts[i].imgurl %>" width="100%"> </h3>
  <button data-id="<%=posts[i].id %>" class="button button-large button-plain button-border" id="want">I WANT TO GO TO <%= posts[i].location %> </button>
<br><input type="checkbox" id="star">
<h5>by <%= posts[i].author %></h5>
<hr>
<button data-id="<%=posts[i].id %>" type="button" class="btn btn-warning deletebutton">&times;</button><br>
<button id="vote" class="btn btn-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></button>
<button id="up" class="btn btn-warning movetoprev"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></button>
<button id="down" class="btn btn-warning movetonext"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
<button class="btn btn-warning movetonext">Next</button>
</section></article>
<% } %>

<!-- SKROLLR -->
<script type="text/javascript">
  var s = skrollr.init();
</script>
<!-- VALIDATE -->

<script>

  $('form').validate();
</script>
  </body>


</html>
